<div class="table_wrapper">
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Free Space</th>
                <th>Total Space</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"C:\strato</td>
                <td>50GB</td>
                <td>50GB</td>
                <td><img src="assets/images/folder-icon.png" alt=""></td>
            </tr>
            <tr>
                <td>"C:\strato</td>
                <td>50GB</td>
                <td>50GB</td>
                <td><img src="assets/images/folder-icon.png" alt=""></td>
            </tr>
            <tr>
                <td>"C:\strato</td>
                <td>50GB</td>
                <td>50GB</td>
                <td><img src="assets/images/folder-icon.png" alt=""></td>
            </tr>
            <tr>
                <td>"C:\strato</td>
                <td>50GB</td>
                <td>50GB</td>
                <td><img src="assets/images/folder-icon.png" alt=""></td>
            </tr>
            <tr>
                <td>"C:\strato</td>
                <td>50GB</td>
                <td>50GB</td>
                <td><img src="assets/images/folder-icon.png" alt=""></td>
            </tr>
        </tbody>
        
    </table>
    
</div>
