<div class="login-info-step">
    <div class="login-info-step-wraper">
        <app-side-panel></app-side-panel>
        <div class="login-info-content">
            <img id="logoImg" src="assets/images/logo-blue.png" alt="">
            <img id="backgroundImg" src="assets/images/back4.png" alt="">     
            <div class="custom_button"><a routerLink="/info-step3" >Next page</a></div>
            <div class="content-text">
                <p>All files are Encrypted<br>and stored on Multiple Peer to Peer hosts</p>
            </div>
            <div class="bottom-menu">
                    <img src="assets/images/settings-log.png" alt="">
                    <img src="assets/images/user-logo.png" alt="">
                    <img src="assets/images/switch-logo.png" alt="">
            </div>
        </div>
    </div>
</div>