.cdk-drag-preview {
    box-sizing: border-box;
    // border-radius: 4px;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    //             0 8px 10px 1px rgba(0, 0, 0, 0.14),
    //             0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border: #7dc79f 2px solid;
    background-color: #ebfaf2;
    border-radius: 5px;
    // padding: 0;
    &:active{
        cursor: url(../../../../../../assets/images/hand.png), auto;
      }
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .cus_table.cdk-drop-list-dragging .td_bro:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cus_table{
      width: 100%;
      max-width: 100%;
      background-color: #f4f7fa;
      .data_head{
          width: 100%;
          display: grid;
          grid-template-columns: 10% 25% 15% 20% 20% 10%;
          list-style: none;
          margin: 0;
          padding: 0 36px;
          li{
              padding: 12px 0;
              color: #424242;
              font-weight: 700;
          }
      }
      
  }

  .step_4{
      max-width: 940px;
      margin: 0 auto;
      width: 100%;
      position: relative;
      z-index: 99;
      padding-top: 100px;
  }
  
  @media only screen and (max-width: 1500px){
    .step_4{
        padding-top: 110px;
    }
  }

  @media only screen and (max-width: 1365px){
    .step_4{
        max-width: 60%;
    }
  }
  @media only screen and (max-width: 1279px){
    .step_4{
        max-width: 75%;
    }
  }

  @media only screen and (max-width: 991px){
    .cus_table{
        .data_head{
            display: none;
        }
        
    }
  }

  @media only screen and (max-width: 500px){
    .step_4{
        max-width: 100%;
        padding: 100px 20px 20px 20px;
    }
    .login-info-step .login-info-step-wraper{
        height: auto !important;
    }
    .login-info-step{
        height: auto !important;
        padding: 20px 0;
    }
    .bottom-menu{
        position: fixed !important;
        left: 0;
        bottom: 0 !important;
        border-radius: 0;
    }
    .cus_table{
      height: 500px;
      padding-right: 2px;
      overflow: auto;
    }
    
  }