
<div class="login_wrapper">
    <div class="left_details">
        <a routerLink="/" class="login_logo"><img src="assets/images/logo.png" alt=""></a>
        <img src="assets/images/login_bg.jpg" class="lft_img" alt="">
        
    </div>
    <div class="right_details main_login">
        <div class="main">
            <h1>Enter Your Seed Phrase</h1>
            <div class="main_form_back">
               <textarea name="" id=""></textarea>
               
                <div class="button_submit_back">
                    <button routerLink="/info" mat-stroked-button color="custom-background-button">Sign In</button>
                    
                </div>
                
            </div>
           
        </div>
    </div>
    <app-login-footer></app-login-footer>
</div>