<div class="top_details_back">
    <h2>Partner Nodes</h2>
    <div class="right_details">
        <div class="search_back">
            <input type="text" placeholder="Search..." name="" id="">
            <input type="submit" value="">
        </div>
        <div class="notification_back">
            <img src="assets/images/noti.png" alt="">
            <span class="deactive"></span>
        </div>
        <div class="proifile_back">
            <img src="assets/images/profile.png" alt="" class="profile_avator">
        </div>
    </div>
</div>
