<div class="login-info-step1-icon" [class.displayMenu]="check">
    <div class="icon">
        <img src="assets/images/logo-blue.png" alt="">
    </div>
    <div class="menu">
        <ul class="menu-items">
            <li class="menu-item"><img src="assets/images/settings-log.png" alt=""></li>
            <li class="menu-item"><img src="assets/images/user-logo.png" alt=""></li>
            <li class="menu-item"><img src="assets/images/switch-logo.png" alt=""></li>
        </ul>
    </div>
    <!-- <div class="custom-hambar" (click)="add()">
        <img class="barImg1" [class.hamClose]="check" src="assets/images/menu.png" alt="">
        <img class="barImg2" [class.hamOpen]="check" src="assets/images/cancel.png" alt="">
    </div>  -->
</div>